.map {
	height: 500px;
}

.map_body {
	pointer-events: none;
}
.map_body path {
	cursor: pointer;
	pointer-events: auto;
}

body {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.x.axis path {
	display: none;
}

.tick {
	display: none;
}

#artist_year_picker {
	overflow: auto;
}

#chart {
	height: 205px;
}
